@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --blackbg: 38, 36, 34;
  --graybg: 48, 46, 43;
  --green: 129, 182, 76;
  --text: white;
}

@media (prefers-color-scheme: dark) {
  :root {
    --blackbg: 38, 36, 34;
    --background-start-rgb: 0, 0, 0;
    --green: 129, 182, 76;
    --text: white;
  }
}

body {
  color: var(--text);
  background-color: rgb(var(--graybg));
  height: 300px;
}

.bg1 {
  background-color: rgb(var(--blackbg));
}

.bg2 {
  background-color: rgb(var(--graybg));
}

.primary {
  background-color: rgb(var(--green));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
